@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

@font-face {
  font-family: 'oldNewsPaper';
  src: url('../public/fonts/OldNewspaperTypes.ttf');
  font-weight: normal;
  font-style: normal;
}


.game-container {
    display: flex;
    position: relative;
  }
  
.left-half {
  flex: 1;
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  margin-left: 30px;
  padding: 0 1% 0 1%;
  vertical-align: top;
  margin-bottom: 50px;
  transition: all .7s;
  border-right: 1px solid #2f2f2f;
  border-left: 1px solid #2f2f2f;
}

.text-graphics{
  font-family: 'Old Standard TT', serif;
  margin-top : 30px;
  vertical-align: text-top;
}

.middle-half {
justify-content: center;
flex: 4;
}
.game-div > div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vh;
  }

.display-box-font{
  color: #2f2f2f;;

}

.text-display-box{
   font-family: 'oldNewsPaper';
    margin-top: 3em;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 90vh;
    height : 40vh;
    padding: 1rem;
    border: 2px #2f2f2f solid;

}

.blur{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.right-half {
  flex: 1;
  font-size: 14px;
  line-height: 20px;
  width: 17.5vh;
  padding: 0 1% 0 1%;
  margin-bottom: 50px;
  transition: all .7s;
  justify-content: center;

  
  border-left: 2px #2f2f2f dashed;

}

.red{
  background-color: red;
}

