.game-container {
    display: flex;
  }
  
.left-half {
background-color:#ff9e2c;
flex: 1;
padding: 1rem;
}

.right-half {
background-color: #b6701e;
flex: 2;
padding: 1rem;
}
.game-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vh;
  }

.text-display-box{
    margin: auto;
    box-sizing: border-box;
    width: 90vh;
    height : 50vh;
    border: 5px solid black;
    border-radius: 15px;
}