@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.game-container {
    display: flex;
    position: relative;
  }
  
.left-half {
  flex: 1;
  padding: 1rem;
  background-image: url('../public/newsbackground.jpg');
  background-size: cover;
  justify-content: left;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.text-graphics{
  font-family: 'Anton';
  margin-top : 30px;
  vertical-align: text-top;
}

.right-half {
background-image: url('../public/righthalf.jpg');
background-size: cover;
justify-content: center;
background-repeat: no-repeat;
background-position: 50% 50%;
flex: 2;
}
.game-div > div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vh;
  }

.display-box-font{
  color: white;
  font-family: 'Indie Flower', cursive;
}

.text-display-box{

    margin-top: 5em;
    box-sizing: border-box;
    width: 90vh;
    height : 40vh;
    padding: 1rem;
    border: 5px black;
    border-radius: 15px;
}