

.profileheader {
  text-align: center; 
  letter-spacing: .5rem; 
  font-weight: 900;
  
}

.subheaderdiv {
    padding: 2rem 0rem 2rem 0rem;  
    text-align: center; 
  
}

.headerdiv2 {
    padding: 3rem 0rem 5rem 0rem;  
    text-align: center; 
    background-color:lightskyblue;  
    margin-top: 3rem; 
}



.animal_left {
  display: inline-block; 
  width: 40%; 
}

.animal_right {
  display: inline-block; 
  width: 40%; 
  vertical-align: middle;  
}

.animal_right_div{
  height: 300px 
}

#gamesplayedfont {
  font-weight: 500;
  font-size: 3rem; 
}

.gamerecorddiv {  
    text-align: center; 
}

.gamerecord {
  display: inline-block; 
  width: 33%; 
  vertical-align: middle
}

.black{
  color: black  
}

img.resize{
  max-width: 50%;
  max-height: 50%;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black; 
  height: 18rem; 
}

.flexcontains {
  width: 30%; 
}

.stattext {
  text-align: center; 
  color: white; 
  padding-bottom: 1rem; 
}