

.ranking-header {
  text-align: center; 
  letter-spacing: 1rem; 
  
}

.headerdiv {
    padding: 2rem 0rem 2rem 0rem;  
}


.topuserwords {
  text-align: center; 
}

.topuserwords span {
  display: inline-block;
  width: 33%; 
  padding: 5px;
  
}

.topuserwords span + span{
  border-left: 1px solid #2f2f2f; 
}

.topgamewords {
  text-align: center; 
}


.gamespans {
  display: inline-block;
  width: 40%; 
  padding: 2rem 1rem 2rem 1rem; 
}

.topgamewords .gamespans h2 {
  font-weight: bold 
}
