
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

.header {
  color: black;
  font-family: 'News Cycle', sans-serif;
  text-align: center; 
  letter-spacing: 1rem; 
  font-size: 5rem; 
  
}

.headerdiv {
    padding: 2rem 0rem 2rem 0rem;  
}


p {
  font-family: 'News Cycle', sans-serif;
  font-size: 2rem; 
  text-align: center; 
}

span.b {
  display: inline-block;
  width: 33%; 
  padding: 5px;
}